.bundle
.idea/*
.gnupg

SphinxFiles/*
DBServer/log/*
DBDaemon/log/*
DBServer/tmp/*
DBServer/public/docstore/*
DBServer/public/assets/*
DBServer/db/sphinx/*
DBServer/vendor/*
DBServer/config/production.sphinx.conf
DBServer/config/development.sphinx.conf
DBServer/config/s3.yml


## generic files to ignore
*~
# *.lock
*.DS_Store
*.swp
*.out

# bundler state
/.bundle
/vendor/bundle/

# minimal Rails specific artifacts
db/*.sqlite3
/log/*
tmp/*

# various artifacts
**.war
*.rbc
*.sassc
.rspec
.sass-cache
/config/config.yml
/coverage.data
/coverage/
/db/*.javadb/
/db/*.sqlite3-journal
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/public/cache
/public/stylesheets/compiled
/public/system
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
/rerun.txt
/spec/requests
/spec/routing
/spec/views
/specifications
app/jobs/cd_drb_worker.pid

# scm revert files
**.orig

## some shell stuff -as cds is installed on user level
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.gem/
.gemrc
.gnupg/
.god/
.irb-history
.lesshst
.local/
.mysql_history
.profile
.rvm/
.ssh/
.zlogin
.zshrc




